
/* Titulo con animacion*/
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background: rgb(170, 25, 214);
}
.container{
  text-align: top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.container span{
  text-transform: uppercase;
  display: block;
}
.text1{
  color: white;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom,#000066 26%, #660033 98%)
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 30px;
  color: #6ab04c;
}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

/* Colores y texturas del reloj*/

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  /*color de fondo del reloj*/ 
  body {
    background: linear-gradient(to bottom,#000066 26%, #660033 98%);

  }
  
  .clock {
    height: 500px;
    width: 500px;
    background-color: #fffcff;
    border-radius: 100%;
    border: 3px solid #5f1f7c;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  .twelve {
    position: absolute;
    width: 3px;
    height: 15px;
    background: #111111;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .three {
    position: absolute;
    width: 15px;
    height: 3px;
    background: #111111;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
  }
  
  .six {
    position: absolute;
    width: 3px;
    height: 15px;
    background: #111111;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .nine {
    position: absolute;
    width: 15px;
    height: 3px;
    background: #111111;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }
  
  
  
  
  .center {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: #000;
    border-radius: 100%;
  }
  
  #seconds {
    position: absolute;
    height: 160px;
    width: 2px;
    left: 0;
    right: 0;
    bottom: 160px;
    top: 0px;
    margin: auto;
    background: #000;
    -webkit-transform-origin: bottom;
    background: #520e0a;
  }
  
  #minutes {
    position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    right: 0;
    bottom: 200px;
    top: 0px;
    margin: auto;
    background: #000;
    -webkit-transform-origin: bottom;
  }
  
  #hours {
    position: absolute;
    height: 80px;
    width: 6px;
    left: 0;
    right: 0;
    bottom: 80px;
    top: 0px;
    margin: auto;
    background: #000;
    -webkit-transform-origin: bottom;